.calendar-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
/* Calendar container */
.react-calendar {
   width: 80vw;
 height: 45vw;
   font-family: Arial, sans-serif; /* Customize the font */
   background-color: #fff; /* Set the background color */
   border: 1px solid #ccc; /* Add a border */
   border-radius: 5px; /* Round the corners */
 }
 
 /* Header containing navigation buttons and current date */
 .react-calendar__navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: #dfc6c6;
 }
 
 /* Navigation buttons (previous and next month) */
 .react-calendar__navigation__arrow {
   cursor: pointer;
 }
 
 /* Calendar grid */
 .react-calendar__month-view__days {
   display: grid;
   grid-template-columns: repeat(7, 1fr); /* Customize the number of columns */
 }
 
 /* Calendar day cell */
 .react-calendar__month-view__days__day {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px; /* Set the desired height */
   cursor: pointer;
 }
 
 /* Add more styles as needed */
 