.homepage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  margin: auto;

}

.triangle {
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
    background-color: #1E2636;
    height:44vw;
    width: 94vw;
    margin-top: 4.8vw;
    
  
   
 
    

  }

  .homepage-img{
    width: 42vw;
    height: 28vw;
    position: absolute;
    margin-top: 10vw;
    background-image: url('../img/homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left : 48vw;
  }