.home-container-light {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 38vw;
    background-color: #E0E0E0;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.home-container-dark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 35vw;
    background-color: #333333;
    color: #CCCCCC;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.homepage-light {

    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(19, 17, 17);
    font-size: 1.5rem;
    font-weight: bold;
    width: 77vw;
    text-align: center;
    position: relative;
    top: 3.7vw;
    left: 13vw;

}

.homepage-dark {

    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 77vw;
    text-align: center;
    position: relative;
    top: 3.7vw;
    left: 13vw;

}


.home-mobile-light {
    height: 30vw;
    width: 68vw;
    background-image: url("../img/home.avif");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    top: 3vw;
    box-shadow: rgb(51, 49, 45);
    opacity: 0.8;
}

.home-mobile-dark {
    height: 30vw;
    width: 68vw;
    background-image: url("../img/home.avif");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(191, 255, 15);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    top: 3.7vw;
    left: 9vw;
    box-shadow: blanchedalmond;
    opacity: 0.7;
}

.welcomeText-light {
    margin-top: 1.7vw;
    margin-left: 0.7vw;
    border-bottom: 2px solid #222122;
    background-image: url("../img/hometext.jpg");
    background-size: cover;
    height: 40.8vw;
    opacity: 0.65;
    background-color: aliceblue;
    font-size: large;
    width: 80vw;
    border-radius: 15px;
    color: #000000;

}

.welcomeText-dark {
    margin-top: 2vw;
    margin-left: 17.4vw;
    border-bottom: 2px solid #cfc9cf;
    background-image: url("../img/hometext.jpg");
    background-size: cover;
    height: 40.8vw;
    opacity: 0.6;
    background-color: rgb(41, 42, 43);
    font-size: large;
    width: 80vw;
    border-radius: 15px;
    color: whitesmoke;
    
}

.text-top-light {

    border-bottom: 2px solid #1f1d1f;
    height: 10.3vw;
    border-radius: 15px;
}

.text-top-dark {

    border-bottom: 2px solid #b3b1b3;
    height: 10.3vw;
    border-radius: 15px;
}

.upper-section-light {
    height: 3vw;
    border-bottom: 2px solid #222122;
    background-color: #222122;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.upper-section-dark {
    height: 3vw;
    border-bottom: 2px solid #c4c2c4;
    background-color: #e2cfe2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.welcomeText-light ul {
    list-style: none;
}

.welcomeText-light ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.1vw;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.welcomeText-dark ul {
    list-style: none;
}

.welcomeText-dark ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.1vw;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}













@media screen and (max-width: 450px) {
    .home-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        background-color: #041955;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px;
        border: none;
        border-radius: 10px;





    }

    .home-mobile {
        height: 120vw;
        width: 85vw;
        background-image: url("../img/back-mobile.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: none;
        border-radius: 10px;
        margin-top: -25vw;

    }

    .mob-card {
        font-size: 6vw;
        font-weight: bold;
        color: whitesmoke;
        text-align: center;
        margin: 10px;
        padding: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid #DA43F0;
        border-radius: 10px;
        height: 40vw;

    }

}