.main-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
 


}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 54vh;
    border: 2px solid #DA43F0;
    border-radius: 15px;
    
    background-color: #3450A1;
}

.title-login {
    color: white;
    font-size: 2.7rem;
    font-weight: bold;
    position: relative;
    bottom: 0.8rem;
    
}
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2.5rem;
}
.form-login input {
    width: 46vw;
    height: 4vw;
    border-radius: 15px;
    border: 1px solid rgb(15, 15, 15);
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
.login-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-groups label {
    color:#DA43F0;
    font-size: 1.2rem;
    font-weight: bold;
}

.login-btn{
    width: 15vw;
    height: 4vw;
    border-radius: 15px;
    border: 1px solid rgb(15, 15, 15);
    margin-bottom: 1rem;
    font-size: 2vw;
    font-weight: bold;
    background-color: #DA43F0;
    color: white;
    cursor: pointer;
}
.login-btn:hover{
    background-color: #3450A1;
    color: #DA43F0;
    transition: 0.6s;
}


@media screen and (max-width: 700px) {
    .title-login {
        font-size: 5vw;
        position: relative;
        bottom: 8vw;

        
    }
    .form-login input {
        width: 48vw;
        height: 6vw;
        font-size: 2vw;
    }
    .login-groups label {
        font-size: 3vw;
      
    }
    .login-btn{
        width: 15vw;
        height: 6vw;
        font-size: 2vw;
    }


}
    
