.navbar{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 2rem;
 
}
.brand{
    font-size: 1.3rem;
    font-weight: bold;
    color: #d34cc8;
    text-decoration: none;
}
.ul-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #000;
}


