.main-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.container-register-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 65vh;
    border: 2px solid #7c7b7c;
    border-radius: 15px;
    background-color: #e4e5f0;
}
.container-register-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 65vh;
    border: 2px solid #9d969e;
    border-radius: 15px;
    background-color: #353536;
}
.register-title-light {
    color: rgb(85, 82, 82);
    font-size:3vw;
    font-weight: bold;
    position: relative;
    bottom: 1vw;
    
}
.register-title-dark {
    color: rgb(241, 219, 219);
    font-size:3vw;
    font-weight: bold;
    position: relative;
    bottom: 1vw;
    
}
.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2.5rem;
}
.form-register input {
    width: 35vw;
    height:3vw;
    border-radius: 15px;
    border: 1px solid rgb(15, 15, 15);
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.2vw;
    font-weight: bold;
}
.register-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-labels-light {
    color:#484049;
    font-size: 1.2vw;
    font-weight: bold;
}
.register-labels-dark {
    color:#f1ecf1;
    font-size: 1.2vw;
    font-weight: bold;
}

.register-btn-light {
    width: 15vw;
    height: 4vw;
    border-radius: 15px;
    border: 1px solid rgb(15, 15, 15);
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #070707;
    color: rgb(219, 212, 212);
    cursor: pointer;
}

.register-btn-light:hover {
    background-color: #a1a6b4;
    color: #252325;
    transition: 0.6s;
}
.register-btn-dark{
    width: 8rem;
    height: 2.8rem;
    border-radius: 15px;
    border: 1px solid rgb(187, 177, 177);
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #242324;
    color: white;
    cursor: pointer;
}

.register-btn-dark:hover {
    background-color: #c1c6d6;
    color: #2a2a2b;
    transition: 0.6s;
}



@media screen and (max-width: 700px) {
    .container-register {
        width: 90vw;
        height: 160vw;
    }
    .register-title {
        font-size: 7vw;
        position: relative;
        bottom: 8vw;

        
    }
    .form-register input  {
        width: 65vw;
        height: 8vw;
        font-size: 3vw;
    }
    .register-groups label {
        font-size: 4vw;
      
    }
    .register-btn{
        width: 45vw;
        height: 14vw;
        font-size: 3.5vw;
    }


}
    