.main-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
  
}
.container-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 60%;
  height:54vh;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 15px;    
    background-color: #3450A1;
}
.container-register h1 {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    
}