.sidebar-container-light{
height: 42vw;
width: 22vw;
position: relative;
top:-0.7vw;
right: -0.8vw;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
transition: all 0.3s ease-in-out;
background-color: #d0d1d3;;
border-radius: 15px;
border: 2px solid #182517;
 

}

    .ul-theme-light{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;

  
    }

    .ul-theme-light li {
      margin: 0.5vw;
      padding: 0.5vw;
      width: 15vw;
      height: 5vw;
      border-radius: 5px;
      background-color: #d0d1d3;
      border: 2px solid #222122;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2vw;
      font-weight: bold;
      color: #222122;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .ul-theme-light li:hover {
      background-color: #060707;
      color: #d0d1d3;
    }
    

    .cal-icon-light{
      margin : 0.7vw;
      font-size: 1.8vw;
      color: #332e33;
    }
    .cal-icon-light:hover{
      color: #eef2f7;
    }
    .task-icon-light{
      margin : 0.7vw;
      font-size: 1.8vw;
      color: #332e33;
    }
    .task-icon-light:hover{
      margin : 0.7vw;
      font-size: 1.8vw;
      color: #ebdbeb;
    }
    .link {
      text-decoration: none;
      color: #000;
     
    }
    .link:hover{
      color: #f3e2e2;
    }
    .link-theme-light{
      margin: 0.5vw;
      padding: 0.5vw;
      width: 15vw;
      height: 5vw;
      border-radius: 5px;
      background-color: #d0d1d3;
      border: 2px solid #222122;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2vw;
      font-weight: bold;
      color: #222122;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .link-theme-light:hover{
      background-color: #222122;
      color: #d0d1d3;
    }
  
    /*----------dark-------------*/ 

    .sidebar-container-dark{
      height: 42vw;
      width: 22vw;
      position: relative;
      top:-0.7vw;
      right: -0.8vw;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      transition: all 0.3s ease-in-out;
      background-color: #404040;;
      border-radius: 15px;
      border: 2px solid #182517;
 

}

    .ul-theme-dark{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;

  
    }

    .ul-theme-dark li {
      margin: 0.5vw;
      padding: 0.5vw;
      width: 15vw;
      height: 5vw;
      border-radius: 5px;
      background-color: #313233;
      border: 2px solid #e6d7e6;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2vw;
      font-weight: bold;
      color: #eee7ee;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .ul-theme-dark li:hover {
      background-color: #bdcec4;
      color: #111213;
    }

    .cal-icon-dark{
      margin : 0.7vw;
      font-size: 1.8vw;
      color: #e7dbe7;
    }
    .cal-icon-dark:hover{
      color: #111213;
    }
    .task-icon-dark{
      margin : 0.7vw;
      font-size: 1.8vw;
      color: #f1e3f1;
    }
    .link {
      text-decoration: none;
      color: #000;
     
    }
    .link:hover{
      color: #f3e2e2;
    }
    .link-theme-dark{
      margin: 0.5vw;
      padding: 0.5vw;
      width: 15vw;
      height: 5vw;
      border-radius: 5px;
      background-color: #1f2022;
      border: 2px solid #222122;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2vw;
      font-weight: bold;
      color: #222122;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .link-theme-dark:hover{
      background-color: #222122;
      color: #d0d1d3;
    }
  


