.sidebar-container-light{
height: 40.5vw;
width: 20vw;
position: relative;
  top: 0.7vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    background-color: #d0d1d3;;
    border-radius: 15px;
    border: 2px solid #222122;
 

}