.add-task-container-light {
  display: flex;
  border: 2px solid #555154;
  border-radius: 5px;
  padding:8vw 20vw;
  margin: 10px;
 height: 23vw;
  overflow: scroll;
  flex-direction: column;


}

.add-task-container-dark {
  display: flex;
  border: 2px solid #555154;
  border-radius: 5px;
  margin-top: -0.51vw;
  margin-left: 10px;
  margin-right: 10px;
  padding:7vw 20vw;
  height: 25vw;
  overflow: scroll;
 
  flex-direction: column;


}

.no-tasks-light {
  color: black;
  font-size: 2.4vw;
  font-weight: bold;
  padding: 10px;
  position: relative;
  top: 15vw;
}

.no-tasks-dark {
  color: white;
  font-size: 2.4vw;
  font-weight: bold;
  position: relative;
  top: 15vw;
  padding: 10px;
  background-color: #333333;
}

.spinner {
  position: relative;
  top: 16vw;

}
.add-btn-light{
  position: fixed;
  top: 5.8vw;
  left: 1vw;

}
.add-btn-dark{
  position: fixed;
  top: 6vw;
  left: 1vw;

}
.btn-add-light{
  height: 5vw;
  width: 8vw;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
  background-color: #333232;
  border: 2px solid #312f2f;
  color: whitesmoke;


}
.btn-add-light:hover{
  background-color: gray;
  color: #f7eaea;
  border: 2px solid #ece1e1;
  transition:  1s;
  border-radius: 10px;
  transform: scale(0.89);
  animation: ripple-animation 1s ease-in-out;
  font-size: 1.1vw;


}

.btn-add-dark{
  height: 5vw;
  width: 8vw;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
  background-color: #dacfcf;
  border: 2px solid #312f2f;
  color: #000;


}
.btn-add-dark:hover{
  background-color: gray;
  color: #f1d9d9;
  border: 2px solid #3d3b3b;
  transition:  1s;
  border-radius: 10px;
  transform: scale(0.89);
  animation: ripple-animation 1s ease-in-out;
  font-size: 1.1vw;


}

.btn-modal-light {
  color: black
}


.btn-modal-light:hover {
  color: rgb(172, 169, 172);
}

.btn-modal-dark {
  color: rgb(214, 205, 205)
}

.btn-modal-dark:hover {
  color: rgb(44, 41, 44);
}



/* Style the table */
table {
  width: 50vw;
  position: relative;
  left: 5vw;
  border-collapse: collapse;
  /* Merge adjacent borders */
  border: 1px solid #0f0f0f;
}

/* Style table headers */
th {
  background-color: #191a1d;
  padding: 10px;
  color: white;
  width: 10vw;
}

/* Style table data cells */
td {
  padding: 8px;
  border-bottom: 1px solid #0a090a;
  width: 10vw;
}

tr {
  background-color: #424650;
  color: white;
  width: 10vw;

}

/* Alternating row colors */
tr:nth-child(even) {
  background-color: #eedfdf;
  color: black;
}
.btns-theme-light{
  width: 5vw;
  height: 2vw;
  background-color: whitesmoke;
  border: 1px solid #312f2f;
  color: #312f2f;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
}
.btns-theme-light:hover{
  background-color: gray;
  color: #f7eaea;
  border: 2px solid #ece1e1;
  transition:  1s;
  border-radius: 10px;
  transform: scale(0.89);
  animation: ripple-animation 1s ease-in-out;
  font-size: 1.1vw;
}
.btns-theme-dark{
  width: 5vw;
  height: 2vw;
  background-color: whitesmoke;
  border: 1px solid #312f2f;
  color: #312f2f;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
}
.btns-theme-dark:hover{
  background-color: gray;
  color: #f7eaea;
  border: 2px solid #ece1e1;
  transition:  1s;
  border-radius: 10px;
  transform: scale(0.89);
  animation: ripple-animation 1s ease-in-out;
  font-size: 1.1vw;
}

.clear-completed-light {
  position: fixed;
  top: 5.7vw;
  left: 90vw;
  width: 10vw;
  height: 3vw;

  font-size: 1.2vw;
  font-weight: bold;

}
.clear-completed-dark {
  position: relative;
  top: -12.4vw;
left: 68.8vw;
  width: 10vw;
  height: 3vw;
 

}
.btn-clear-completed-light{
  height: 5vw;
  width: 8vw;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
  background-color: #333232;
  border: 2px solid #312f2f;
  color: whitesmoke;

}
.btn-clear-completed-light:hover{
  background-color: gray;
  color: #f7eaea;
  border: 2px solid #ece1e1;
  transition:  1s;
  border-radius: 10px;
  transform: scale(0.89);
  animation: ripple-animation 1s ease-in-out;
  font-size: 1.1vw;
}

.btn-clear-completed-dark{
  height: 5vw;
  width: 8vw;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
  background-color: #dacfcf;
  border: 2px solid #312f2f;
  color: #000;

}
.btn-clear-completed-dark:hover{
  background-color: gray;
  color: #f1d9d9;
  border: 2px solid #3d3b3b;
  transition:  1s;
  border-radius: 10px;
  transform: scale(0.89);
  animation: ripple-animation 1s ease-in-out;
  font-size: 1.1vw;
}



