.add-task-cont-light {
  display: flex;
  background-color: rgb(245, 230, 230);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vw;
  border: 2px solid #404040;
  margin: 0.3vw;


}

.show-tasks-light {

  flex-direction: column;
  border: 3px solid #404040;
  background-color: rgb(252, 241, 241);
  height: 30vw;
  width: 80vw;
  overflow: auto;
  margin-bottom: 6vw;

}

.task-item-light {
  border: 2px solid #404040;
  background-color: rgb(245, 230, 230);
  width: 70vw;
  height: 8vw;
  margin: 0.2vw auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto;
  margin-top: 0.5vw;
  
}

.task-detail {
  min-width: 15vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2vw;
  font-weight: bold;
  height: 4vw;

}

.no-tasks-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 32vw;
  width: 80vw;
  border: 4px solid rgb(3, 3, 3);
  background-color: rgb(252, 241, 241);
}

.btn-delete-task {
  border: none;
  cursor: pointer;
  font-size: 1.4vw;
  transition: transform 0.2s;
}

.btn-delete-task:hover {
  color: #111111;
  background-color: transparent;
  transform: scale(1.45)
}

.btn-cont-delete-light{

  background-color: whitesmoke;
  border: none;
  height: 2vw;
  width: 5vw;
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBelow {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

.no-tasks-light h3 {
  font-size: 2vw;
  font-weight: bold;
  color: #242222;
  animation: slideInFromAbove 1s ease-in-out;


}


.btn-notasks {
  width: 15vw;
  height: 5vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: slideInFromBelow 1s ease-in-out;
}

.notask-btn-light {
  background-color: #242222;
  color: #f3e2e2;
  border: 2px solid #242222;
  width: 12vw;
  height: 4vw;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
}

.notask-btn-light:hover {
  background-color: #f3e2e2;
  color: #242222;
  border: 2px solid #242222;
  width: 12vw;
  height: 4vw;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.clear-btn-light {
  position: relative;
  top: 11vw;
  left: 45vw;
  width: 8vw;
  height: 4vw;
  border: 2px solid #404040;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1vw;
}

.clear-btn-light:hover {
  background-color: #404040;
  color: #f3e2e2;
  transition: all 0.3s ease-in-out;
}

.btn-clear-com-light {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
  background-color: #f8e1e1;
  height: 5vw;
}

.hover-check-light {
  color: green;
  font-size: 1.6vw;
  margin-left: 0.5vw;
  transition: transform 0.2s
}

.hover-check-light:hover {

  transform: scale(1.45);
}

.hover-crossed {
  color: red;
  font-size: 1.4vw;
  margin-left: 0.5vw;
  transition: transform 0.2s
}

.hover-crossed:hover {
  transform: scale(1.45);
}
#btn-add-light{
  position: relative;
  top: 15vw;
  right: 45vw;
  width: 8vw;
  height: 4vw;
  border: 2px solid #f1eded;
  background-color: 3404040;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1vw;
  border: 2px solid #404040;
}
#btn-add-light:hover{
  background-color: #404040;
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
}



/*----dark mode--- */

.add-task-cont-dark {
  display: flex;
  background-color: rgb(32, 27, 27);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vw;
  border: 2px solid #e4d9d9;
  margin: 0.3vw;



}

.show-tasks-dark {
  flex-direction: column;
  border: 3px solid #e4dcdc;
  background-color: #686868;
  height: 30vw;
  width: 80vw;
  overflow: auto;
  margin-bottom: 6vw;

}

.task-item-dark {
  border: 2px solid #404040;
  background-color: #808080;
  width: 70vw;
  height: 8vw;
  margin: 0.2vw auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.5vw;
}

.no-tasks-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 32vw;
  width: 80vw;
  border: 4px solid rgb(247, 242, 242);
  background-color: #404040;
}

.no-tasks-dark h3 {
  font-size: 2vw;
  font-weight: bold;
  color: #f3e6e6;
  animation: slideInFromAbove 1s ease-in-out;


}

.notask-btn-dark {

  background-color: #dad0d0;
  color: #2c2a2a;
  border: 2px solid #242222;
  width: 12vw;
  height: 4vw;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;

}

.notask-btn-dark:hover {
  background-color: #242222;
  color: #f3e2e2;
  border: 2px solid #242222;
  width: 12vw;
  height: 4vw;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}


#btn-add-dark{
  position: relative;
  top: 15vw;
  right: 45vw;
  width: 8vw;
  height: 4vw;
  border: 2px solid #f1eded;
  background-color: 3404040;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1vw;
  border: 2px solid #404040;
}
#btn-add-dark:hover{
  background-color: #404040;
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
}
.btn-clear-com-dark {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
  background-color: #808080;
  height: 5vw;
}


.clear-btn-dark {
  position: relative;
  top: 11vw;
  left: 45vw;
  width: 8vw;
  height: 4vw;
  border: 2px solid #404040;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1vw;
}

.clear-btn-dark:hover {
  background-color: #404040;
  color: #f3e2e2;
  transition: all 0.3s ease-in-out;
}
.hover-check-dark {
  color: green;
  font-size: 1.6vw;
  margin-left: 0.5vw;
  transition: transform 0.2s;
  
}

.hover-check-dark:hover {

  transform: scale(1.45);
}
.btn-cont-delete-dark{

  background-color: transparent;
  border: none;
  height: 2vw;
  width: 5vw;
}
